#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#locations li{
  list-style: none;
  display: inline-block;
  margin: 2rem;
}

#locations li:hover{
  font-weight: bold;
  cursor: pointer;
  transform: scale(1.1);
}

#user-pokemon:hover{
  cursor: pointer;
}


#enemy-pokemon-details{
  display: inline-block;

}

